FLASK_APP=app
FLASK_DEBUG=1
DATABASE_URL= POSTGRES URL
SECRET_KEY= your-secret-key
CLOUDINARY_CLOUD_NAME= cloudinary-name
CLOUDINARY_API_KEY= cloudinary-api-key
CLOUDINARY_API_SECRET= cloudinary-api-secret